* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.banner-header {
    background-color: #80481C
}

.banner-nav {
    background-color: #EBDDBE;
    text-align: center;
}

.link-space {
    margin-right: 10%;
}

a {
    text-decoration: none;
    color: #4A4A4A;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8A3324;
    height: 10vh;
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 100%;
    height: 200px;
    padding: 1em;
    border: 2px dashed #cccccc;
    border-radius: 4px;
    color: slategray;
    cursor: pointer;
}

#file-input {
    display: none;
}

#preview {
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#preview li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0;
    width: 100%;
    height: 100px;
}

#preview vid {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#clear-btn {
    width: 10vh;
}